body{}

#progressbar {
  width: 70%;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  text-align: center;
}
#errormessage {
}
#errortext {
}
#yesnoform {
  text-align: left;
}
#nameboxes {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.rsvpalert {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.namebox_container {
  display: none;
}
.namebox {
  size: 25;
  width: 150px;
  display: inline-block;
}
.nameboxlabel {
  margin-right: 20px;
  width: 100px;
  display: inline-block;
  text-align: right;
}
input[type="text"] {
  height: 25px;
}
