<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>{% block title %}RSVP for Wedding{% endblock %}</title>
<meta name="Description" content="Larry and Laura's Wedding RSVP" /> 
<link rel="stylesheet" type="text/css" href="https://ssl.gstatic.com/sites/p/b8344b/system/app/themes/terrawater/standard-css-terrawater-ltr-ltr.css" /> 
<link rel="stylesheet" type="text/css" href="css/overlay.css" /> 
<link rel="stylesheet" type="text/css" href="css/rsvp.css" /> 
</head>
<body>
<div id="content">
     {% block content %}{% endblock %}
</div>
</body>
</html>

