{% extends "base.html" %}

{% block title %}{% if not_first %}Your RSVP has been updated!{% else %}Your RSVP is confirmed!{% endif %}{% endblock %}

{% block content %}
<p>Thanks for {% if not_first %}updating {% endif%}your RSVP, {{ party.name }}!<br />
We have sent an email to your address at {{ domain }}, confirming your {% if not_first %}changes{% else %}details{% endif %}:<br />

{% if room %}
You will join us at Ana y Jos&eacute; in room {{ room }} (number {{ party.room_number }}).
{% else %}
You will be staying at a hotel other than Ana y Jos&eacute;.
{% endif %}
</p>
<p>The {{ party.size }} people in your party are:
<div id="guestlist">
<ul style="text-align: left">
{% for p in party.people %}
<li> {{ p.name }}{% if p.vegetarian %}, preferring a vegetarian dinner{% if p.hidden_worlds %} and {% endif %}{% endif %}{% if p.hidden_worlds %}{% if not p.vegetarian %}, {% endif %}joining us at Hidden Worlds{% endif %}</li>
{% endfor %}
</ul>
</div>
{% if party.notes %}And you added the following notes:
  <blockquote>{{ party.notes|linebreaksbr }}</blockquote>
{% endif %}
You can change anything in your resevation until {{ deadline|date }} at your <a href="http://rsvp.larryandlaura.us/{{ party.secret }}">personalized page</a>
</p>
{% endblock %}
