{% extends "base.html" %}

{% block title %}Who is coming?{% endblock %}

{% block ExtraJavascript %}
function ShowHideTextFields() {
  var people = parseInt($('input:radio[name=coming]:checked').val());
  if (!people) { return; }
  $( "#nameinstructions" ).show();
  for (i=1;i<=people;i++) {
    var box = $( "#namebox" + i );
    if (box.is(':hidden')) {
      box.show('slide', {direction: "left"}, "slow");
    }
  };
  for (i=people + 1;i<=8;i++) {
    var box = $( "#namebox" + i );
    if (!box.is(':hidden')) {
      box.hide('slide', {direction: "left"}, "slow");
    }
  };
  $( "#partysubmit" ).attr("disabled", false);
};
function SetButtons() {
  {% if size %}$( "#radio{{ size }}" ).attr("checked", "checked");{% endif %}
  $( "#radio" ).buttonset();
  for (i=1;i<=8;i++) {
    $( "#meal" + i).buttonset();
    $( "#hiddenworlds" + i).button();
  }
  $( "#partysubmit" ).attr("disabled", 'disabled');
  $( "#radio" ).change(ShowHideTextFields);
  $( '#partydetail_form' ).submit(ValidateForm);
};
function SetupHelp() {
  $( "#mealhelptext" ).dialog({autoOpen: false, title: 'Dinner Preference Help', width: 400});
  $( '#mealhelp' ).click(function() {$( "#mealhelptext" ).dialog('open');});
  $( "#hiddenworldshelptext" ).dialog({autoOpen: false, title: 'Hidden Worlds Help', width: 400});
  $( '#hiddenworldshelp' ).click(function() {$( "#hiddenworldshelptext" ).dialog('open');});
};
function ValidateForm() {
    var people = parseInt($('input:radio[name=coming]:checked').val());
    var name_array = new Array();
    for (i=1;i<=people;i++) {
      person = $('input[name="name'+i+'"]').val();
      meal = $('input:radio[name="meal'+i+'"]:checked').val();
      name_array.push($.trim(person.toLowerCase()));
      if (!person) {
        ShowError("Please don't leave any name fields blank!");
        return false;
      }
      if (!meal) {
        ShowError("Please select a meal preference for each guest, including " + person + "!");
        return false;
      }
    }
    if (name_array.length != $.unique(name_array).length) {
      ShowError("Please do not enter the same name more than once!");
      return false;
    }
}; 
{% endblock %}

{% block OnLoad %}
{{ block.super }}
  SetButtons();
  SetupHelp();
  ShowHideTextFields();
{% endblock %}

{% block content %}
<p>Please tell us how many are in your party.</p>

    <form action="/partydetail" id="partydetail_form" method="post">
    <div id="radio">
      {% for i in 1to8 %}
        <input type="radio" id="radio{{ forloop.counter }}" value="{{ forloop.counter }}" name="coming" />
        <label for="radio{{ forloop.counter }}">{{ forloop.counter|apnumber|capfirst }}</label>
      {% endfor %}
    </div>
<p id="nameinstructions">Confirm, add, or remove names from your invitation, and let us know your dinner preference <span id="mealhelp" class="ui-state-default ui-corner-all ui-icon ui-icon-help helpbutton" title="Help with meal selection"></span><br /> and whether you would like to join us at the Hidden Worlds Adventure Park <span id="hiddenworldshelp" class="ui-state-default ui-corner-all ui-icon ui-icon-help helpbutton" title="Help with Hidden Worlds selection"></span>.</p>
    <div id="nameboxes">
      {% for i in 1to8 %}
        <div class="namebox_container" id="namebox{{ forloop.counter }}">
          <label for='name{{ forloop.counter }}' class="nameboxlabel">{{ i.0 }} guest</label>
          <input type="text" name="name{{ forloop.counter }}" class="namebox"
          {% if i.1 %}value="{{ i.1.name }}"{% endif %} />
          <span id="meal{{ forloop.counter }}" class="mealselect">
            <label for="steak{{ forloop.counter }}">Steak</label>
            <input type="radio" id="steak{{ forloop.counter }}" value="Steak" name="meal{{ forloop.counter }}"
              {% ifequal i.1.meal "Steak" %}checked="checked"{% endifequal %} />
            <label for="fish{{ forloop.counter }}">Fish</label>
            <input type="radio" id="fish{{ forloop.counter }}" value="Fish" name="meal{{ forloop.counter }}"
              {% ifequal i.1.meal "Fish" %}checked="checked"{% endifequal %} />
            <label for="vegetarian{{ forloop.counter }}">Vegetarian</label>
            <input type="radio" id="vegetarian{{ forloop.counter }}" value="Vegetarian" name="meal{{ forloop.counter }}"
              {% ifequal i.1.meal "Vegetarian" %}checked="checked"{% endifequal %} />
          </span>
          <span id="hiddenworlds_container{{ forloop.counter }}">
            <label for="hiddenworlds{{ forloop.counter }}" class="hiddenworlds-label">Hidden Worlds</label>
            <input type="checkbox" name="hiddenworlds{{ forloop.counter }}" id="hiddenworlds{{ forloop.counter }}"
            {% if i.1.hidden_worlds %}checked="checked"{% endif %} />
          </span>
        </div>
      {% endfor %}
    </div>
    <input id="partysubmit" type="submit" />
  </form>
</p>
<div id="mealhelptext" class="helpdialog">Although we are planning to serve a buffet-style dinner, your selections here will help our caterers prepare enough food so that you can receive your preferred meal.  If you have special needs or food allergies, please tell us in the notes field on the next page.</div>
<div id="hiddenworldshelptext" class="helpdialog">We are planning a trip to the Hidden Worlds Cenote Adventure Park for the day after the wedding.  For each guest listed here, please click the &quot;Hidden Worlds&quot; button if he or she would like to attend, and we will follow up with you via email.  For more information on the event, please <a href="http://www.larryandlaura.us/things-to-do/hidden-worlds" target="_blank">see the page for it</a>.</div>
{% endblock %}
