<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>RSVP Report</title>
<style type="text/css">
.highlight {
  background-color: lightblue;
}
</style>
</head>
<body>
<p>
  Newest RSVP creation: {{newest|date:"D M d Y P"}}<br />
  Newest RSVP update: {{freshest|date:"D M d Y P"}}
</p>
  <p><h2>People Coming</h2>
  <h3><span class="highlight">Parties: {{coming|length}}<br />People: {{people}}</span></h3>
  <ul>
    {% for party in coming %}
    <li>
      {{party.name}},
      {% if party.room_number %}Room {{party.room_number}}{% endif %}
      {% ifequal party.room_number 0 %}Staying elsewhere{% endifequal %}
      {% if not party.room_number %}{% ifnotequal party.room_number 0 %}
        <span style="color: red; font-weight: bold;">NO ROOM</span>
      {% endifnotequal %}{% endif %}
        <br />{{party.size}} people:
        {% for person in party.people %}
          {{person.name}}{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% if party.notes %}<br />{{ party.notes }}<br />{% endif %}
    </li>
    {% endfor %}
  </ul>
  </p>
  <div style="float: left">
  <p><h2>People Not Coming</h2>
  <h3><span class="highlight">Parties: {{not_coming|length}}</span></h3>
  <ul>
    {% for party in not_coming %}
    <li>{{party.name}}, {{party.size}} people
    {% if party.room_number %}, room {{party.room_number}}{% endif %}</li>
    {% endfor %}
  </ul>
  </p>
  </div>
  <div style="float: right; width: 50%">
  <p><h2>Slackers</h2>
  <h3><span class="highlight">Parties: {{no_response|length}}</span></h3>
  <ul>
    {% for party in no_response %}
    <li>{{party.name}}, {{party.size}} people
    {% if party.room_number %}, room {{party.room_number}}{% endif %}</li>
    {% endfor %} </ul>
  </p>
  </div>
  <!-- <p><h2>Paper Invitations</h2>
         {{ invitations|length }} paper invitations needed.
       </p>
  -->
  <div style="clear: both;">
  <p><h2>Hidden Worlds</h2>
    <span class="highlight">{{ hidden_worlds|length }} people</span> going: {{hidden_worlds_names}}
  </p>
  <p><h2>Vegetarians</h2>
    <span class="highlight">{{ vegetarians|length }} people</span>: {{vegetarians_names}}
    </p>

  </div>
  <div style="float: left; width: 50%">
  <p><h2>Rooms</h2>
   {% for r in rooms|dictsort:"room" %}
     {{ r.room }} : {{ r.name }}<br />
   {% endfor %}
   </p>
 </div>
   <div style="float: right; width: 50%">
     <p><h2>People Staying Elsewhere</h2>
  <ul>
    {% for party in staying_elsewhere %}
    <li>{{party.name}}</li>
    {% endfor %}
  </ul>
  </p>
</div>
</body>
</html>
