#radio {
  font-size: 11pt;
}
#notcoming {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ; 
}
#content {
  text-align: center;
}
#errormessage {
}
#errortext {
}
#yesnoform {
  text-align: left;
}
#nameinstructions {
  display: none;
}
#nameboxes {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#roomnumber {
  margin-bottom: 30px;
}
#hotelfields {
  margin-top: 30px;
}
#hotelnamediv {
  margin-top: 40px;
  padding: 30px;
}
#hotelname {
  margin-top: 40px;
}
#notesfield {
  width: 400px;
  padding: 10px;
  height: 70px;
  font-family: Sans-serif;
  font-size: 1.2em;
  line-height: 100%;
}
#guestlist {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ; 
}
#foodallergies {
  font-size: 11pt;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.rsvpalert {
  font-size: 11pt;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.namebox_container {
  display: none;
  margin-top: 9px;
  width: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.namebox {
  size: 25;
  width: 150px;
  display: inline-block;
}
.nameboxlabel {
  margin-right: 20px;
  width: 130px;
  display: inline-block;
  text-align: right;
}
.helpbutton {
  display: inline-block;
  top: -100px;
  border: 0;
}
.helpdialog {
  font-family:Helvetica,Arial,Verdana,sans-serif;
  font:normal 13pt Arial,sans-serif;
}
.helpdialog a {
  color: #005596;
}
.mealselect, .hiddenworlds-label {
  font-size: 11pt;
}
/* Next 4 from JQueryUI site */
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
input[type="text"] {
  height: 30px;
  font-size: 12pt;
}
input[type="submit"], button {
  margin-top: 30px;
  font-size: 11pt;
}
input {
  font-family:georgia!important;
}
a {
  color:#9ff;
}
h2 a {
  color:#005596!important;
}
blockquote {
  width: 440px;
  border: 1px dotted #9BC5DB;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  white-space: normal;
  font-size: 10pt;
  z-index:-1;
}

/* The rest is from sites page */
html,body {
  padding:0;
  margin:0;
  direction:ltr;
}
body {
  font-family:Helvetica,Arial,Verdana,sans-serif;
  font:normal 13pt Arial,sans-serif;
  color:#cedbdf;
  line-height:125%;
  background-color:#3b5f7b;
}
body.ar {
  font-size:14px;
}
a img {
  border:0;
  padding:0;
}
td {
  vertical-align:top;
  padding:1px 4px;
}
code {
  color:#9ed2ee;
}
ol {
  list-style-type:decimal;
}
ul li {
  list-style-image:url(bullet.gif);
  list-style-position:outside;
  list-style-type:disc;
}
